<div class="jumbotron" style="background-color:lightgreen; font-family:'Goudy Stout'">
    <center><h1 style="font-family:Magneto">Terry's Pizza</h1></center>
    <center><p>About</p></center>

</div>

<div class="row" style="background-color:lightcoral; font-family:Garamond">
    <center>
        <p>
            Established in 1959, Terry’s Pizza was an iconic Huntsville establishment operating three pizza restaurants. The owner, Lou Pejza, died in 2005, and in June 2006 the family closed the business. There was an out roar, that is when Star Super Market Owner, Darden Heritage, bought the rights and recipes and started cooking pizzas. Terry's Pizza is located at 7900 Bailey Cove Rd and has two take-away locations in Star Super Market & Discount Pharmacy in 5-Points and Meridianville. Our Bailey Cove location has 60 seats (booths and tables) and a drive-thru window. We are open 11AM – 9PM seven days a week.

            Terry’s has the cheesiest pizzas in town! Our pizza is prepared made-to-order, along with many signature recipes: Sticky Fingers (sausage, pepperoni and mushrooms loaded with extra cheese); Chef’s Special (sausage, pepperoni, mushroom, green pepper, and onion with anchovies upon request); Maui Wowee (ham, pineapple, cheese); Bavarian Pizza (ham, pepperoni and Polish sausage over a bed of kraut). Pizza is served in many sizes: 9”, 12”, 16”, and stuffed Chicago-style. Terry’s Pizzas are cooked in the store’s brick oven or available in raw take-and-bake form. You will not find a better pizza anywhere!

            Pizza is not the only thing we serve. We also have subs, calzones, salads, spaghetti, lasagna, ravioli, cheesecake, cookies, local craft beer, wine, and more!
        </p>
     </center>
</div>