

<div class="jumbotron" style="background-color:lightgreen; font-family:'Goudy Stout'">
    <center><h1 style="font-family:Magneto">Terry's Pizza</h1></center>
    <center><p>Contact Info</p></center>

</div>

<div class="row" style="background-color:lightcoral; font-family:Garamond" >
    <center><address>
        85 Anchovy Lane<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        555.555.5555<br/>
        <strong>Support:</strong>   <a href="dominos.com">WhoNeedsSupport4Pizza@Gmail.com</a><br />
    </address>
</div>
