@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lightgreen; font-family:'Goudy Stout'">
    <center><h1 style="font-family:Magneto">Terry's Pizza</h1></center>
    <center><p>40 Years of Service!</p></center>

</div>

<div class="row" style="background-color:lightcoral">
    <div class="col-md-4">
        <img src="~/pictures/pizza.jpg" alt="pizza" height="300" width="100%">
    </div>
    <div class="col-md-4">
        <img src="~/pictures/calzone.png" alt="calzone" height="300" width="100%">
    </div>
    <div class="col-md-4">
        <img src="~/pictures/tj.png" alt="nj" height="300" width="100%">
    </div>
</div>